@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Urbanist:wght@400;600&display=swap');


.contactus-container {
    position: relative;
    width: 100%;
    height: 88.5vh;
    overflow: hidden;
}

.contactus-image-section {
    position: relative;
    width: 100%;
    height: 100%;
}

.contactus-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 20px;
}

.contactus-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 254, 254, 0.5); 

}

.contactus-text-container {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: #FDFDFC;
    font-family: 'Poppins', sans-serif;
    max-width: 40%;
    margin-left: -32px;

}

.popper-text {
    font-size: 3.5rem;
    font-weight: 600;
    color: #332B68;
    margin-bottom: 15px;
    line-height: 1.2;
    display: inline-block;
    position: relative;
    animation: popperEffect 1.5s ease-in-out infinite;
}

@keyframes popperEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



.contactus-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.contactus-card p {
    font-size: 1.2rem;
    color: #332B68;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
    text-align: center;
}

.contactus-statistics-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 10%;
    background: #332B68;
    text-align: center;
    gap:150px;
    

  }
  
  .contactus-stat-card {
    width: 30%;
    background: white;
    padding: 30px;
    border-radius: 45px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-left: -60px;
  }
  
  .contactus-stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .contactus-stat-card h2 {
    font-size: 2.5rem;
    color: #008DD1;
  }
  
  .contactus-stat-card p {
    font-size: 1.2rem;
    color: #333;
  }