@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Urbanist:wght@400;600&display=swap');


.stats-container {
  text-align: left;
  padding: 80px 10%;
  color: white;
  position: relative;
  background: rgba(254, 254, 254, 0.5); 
}

.stats-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background: rgba(254, 254, 254, 0.5); 
  z-index: -1;
}

.stats-text h1 {
  font-size: 3rem;
  font-family: 'Inter ', sans-serif;
  font-weight: 600;
  margin-top: -10px;
  color: #332B68;
  margin-left: -60px;
}



.stats-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  max-width: 850px;
  position: relative;
  z-index: 1;
  background: rgba(254, 254, 254, 0.5); 
  margin-left: -60px;
}

.stats-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease;
  border-left: 6px solid;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.stats-box:hover {
  transform: scale(1.05);
}

.stats-icon {
  font-size: 3.5rem;
  padding: 20px;
  border-radius: 100%;
  display: inline-block;
  width: 70px;
  height: 70px;
}

.stats-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #332B68;
  font-family: 'Inter ', sans-serif;

}

.stats-description {
  font-size: 1.5rem;
  color: #332B68;
  font-family: 'Inter ', sans-serif;

}

.stats-box.fade-in {
  opacity: 1;
  transform: translateY(0);
}
