@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Urbanist:wght@400;600&display=swap');


.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: rgba(254, 254, 254, 0.5); 
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.2s ease-in-out;
  }
  
  .newsletter-left {
    flex: 1;
    padding-right: 40px;
  }
  
  .newsletter-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    animation: slideInLeft 1.2s ease-in-out;
    margin-left: 30px;
    font-family: 'Inter ', sans-serif;
    margin-left: 40px;


  }
  
  .newsletter-form {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .newsletter-input {
    padding: 12px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    outline: none;
    width: 330px;
    transition: border 0.3s ease, transform 0.3s ease;
    font-family: 'Inter ', sans-serif;
    margin-left: 8px;

  }
  
  .newsletter-input:focus {
    border-color: #008dd1;
    transform: scale(1.05);
  }
  
  .newsletter-button {
    padding: 12px 20px;
    font-size: 20px;
    background-color: #008dd1;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Inter ', sans-serif;

  }
  
  .newsletter-button:hover {
    background-color: #006c8e;
    transform: translateY(-2px);
  }
  
  .newsletter-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    position: relative;
    margin-left: 40px;

  }
  
  .newsletter-image {
    width: 120%;
    height: 500px;
    border-radius: 32px;
    transition: transform 0.5s ease;
  }
  
  .newsletter-image:hover {
    transform: scale(1.1);
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 32px;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .image-overlay {
    opacity: 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @media (max-width: 768px) {
    .newsletter-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .newsletter-left {
      padding-right: 0;
      text-align: center;
    }
  
    .newsletter-right {
      margin-top: 20px;
    }
  
    .newsletter-input {
      width: 200px;
    }
  }
  